/*
    Atividade de laboratório 3 - 27/04/2023;
    Disciplina: Tecnologias Web;
    Professor: Fischer Ferreira;
    Semestre: 2023.1
    Aluno: Harold Calixto de Albuquerque;
    Matrícula: 499735;
*/

body{
    display: inline;
    align-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 200px;
    color: white;
}

h1{
    padding-top: 150px;
    text-align: center;
    color: black;
}

h2{
    color: white;
}
p{
    text-align: justify;
    color: black;
}

.espacamento{
    align-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

@media screen and (min-width:320px) and (max-width:479px) {
    .largura{
        background-color: black;
    }
}

@media screen and (min-width:480px) and (max-width:599px) {
    .largura{
        background-color: blue;
    }
}

@media screen and (min-width:600px) and (max-width:767px) {
    .largura{
        background-color: green;
    }
}

@media screen and (min-width:768px) and (max-width:799px) {
    .largura{
        background-color: yellow;
    }
}

@media screen and (min-width:800px) and (max-width:1023px) {
    .largura{
        background-color: brown;
    }
}

@media screen and (min-width:1024px) and (max-width:1279px) {
    .largura{
        background-color: darkblue;
    }
}

@media screen and (min-width:1080px) and (max-width:1439px) {
    .largura{
        background-color: darkgreen;
    }
}

@media screen and (min-width:1440px) {
    .largura{
        background-color: darkred;
    }
}

@media screen and (min-width: 200px) and (orientation: landscape) {
    .paisagem{
        display: block;
        background-color: violet;
    }
}

.responsividade{
    height: 100px;
    width: 200px;
    display: block;
}

.verde{
    background-color: lightgreen;
}

.azul{
    background-color: lightblue;
}

.roxo{
    background-color: #D38AFF;
}

@media screen and (min-width: 0) and (max-width: 768px) and (orientation: portrait) {
    .responsividade div{
        display: block;
        height: 200px;
        width: 100px;
    }
    .responsividade .azul, .responsividade .roxo, .responsividade div:nth-of-type(4){
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 1279px){
    .responsividade div{
        display: block;
        height: 100px;
        width: 200px;
    }
    .responsividade .roxo, .responsividade div:nth-of-type(4), .responsividade div:nth-of-type(5){
        display: none;
    }
}

@media screen and (min-width: 1280px){
    .responsividade div{
        display: block;
        height: 50px;
        width: 400px;
    }
}

.paises{
    margin: 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paises button{
    width: 200px;
    padding: 10px 20px;
    margin: 10px 20px;
    font-size: 15px;
}

.texto{
    margin: 10px 50px;
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
}

#bandeira{
    margin: 10px 50px;
    flex-direction: column;
}

@media screen and (min-width: 0) and (max-width: 768px) and (orientation: portrait) {
    .espacamento{
        flex-direction: column;
    }

    #bandeira{
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 1279px){
    .espacamento{
        flex-direction: row;
    }

    #bandeira{
        display: none;
    }
}

@media screen and (min-width: 1280px){
    .espacamento{
        flex-direction: row;
    }

    #bandeira{
        display: block;
        margin: 20px 20px;
    }
    .paises button{
        margin: 5px 10px;
        width: 200px;
        padding: 10px 20px;
        font-size: 15px;
    }
    .texto{
        height: auto;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 15px;
    }
}