/*
    Atividade de laboratório 8 - HTML/CSS/Materialize - 25/05/2023;
    Disciplina: Tecnologias Web;
    Professor: Fischer Ferreira;
    Semestre: 2023.1;

    Equipe:
    Aluno: Harold Calixto de Albuquerque - Matrícula: 499735;
    Aluno: Alexandre Gomes Camelo - Matrícula: 504315;
    Aluno: Joaquim Walisson Portela de Sousa - Matrícula: 472152;

    Projeto: Fit Store - E-commerce de produtos esportivos;
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    
}
